/* === LOGIN PROFESIONAL === */

.login-form-wrapper {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  align-content: center;
  font-family: 'Lexend', sans-serif;
}

.mainForm h2 {
  color: #235091;
  font-size: 1.8rem;
  margin-bottom: 2rem;
  text-align: center; 
}

.mainForm h2 span {
  font-weight: 300;
  font-size: 22px;
}

.mainForm
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  margin: 0 auto;
  padding: 1rem;
}

.mainForm
.login-form label {
  align-self: flex-start;
  font-size: 0.95rem;
  color: #444;
  margin: 0.5rem 0 0.2rem;
}

.mainForm
.login-form input[type="text"],
.mainForm
.login-form input[type="password"] {
  font-family: 'Lexend', sans-serif;
  width: 100%;
  padding: 0.6rem 1rem;
  font-size: 0.9rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
  font-weight: 300;
}

.mainForm
.login-form .options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 0.85rem;
  color: #999;
  margin-bottom: 1.5rem;
}

.mainForm
.login-form .options label {
  font-family: 'Lexend', sans-serif;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  color: #777;
}

.mainForm
.login-form .options a {
  color: #235091;
  text-decoration: none;
  font-weight: 700;
}

.mainForm
.login-form .options a:hover {
  text-decoration: underline;
}

.mainForm
.login-form button {
  font-family: 'Lexend', sans-serif;
  background-color: #235091;
  color: white;
  border: none;
  padding: 0.5rem 1.2rem;
  font-size: 0.9rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.mainForm
.login-form button:hover {
  background-color: #163a75;
}

@media screen and (max-width: 768px) {
  .mainForm {
    padding: 2rem 0 2rem 0;
  }

  .mainForm
  .login-form {
    width: 63%;
  }
}
